body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* html,
body {
  margin: 0;
  padding: 0;
} */

.font-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.font-text1 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.listC {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.listC:hover {
  color: blue;
}
.textHover {
  color: inherit;
}
.textHover:hover {
  cursor: pointer;
}

.bgc {
  background-color: #efeeee;
}
.font-text2 {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
